<nav>
  <ul>
    <li>
      <a href="#profile"
        ><span class="left"></span>Profil<span class="right"></span
      ></a>
    </li>
    <li>
      <a href="#formation"
        ><span class="left"></span>Formation<span class="right"></span
      ></a>
    </li>
    <li>
      <a href="#formation"
        ><span class="left"></span>Compétences<span class="right"></span
      ></a>
    </li>
    <li>
      <a href="#formation"
        ><span class="left"></span>Expérience<span class="right"></span
      ></a>
    </li>
    <li>
      <a href="#formation"
        ><span class="left"></span>Projets<span class="right"></span
      ></a>
    </li>
    <li>
      <a href="#formation"
        ><span class="left"></span>Hobbys<span class="right"></span
      ></a>
    </li>
  </ul>
</nav>
